
body {
    background-color: olive;
}

#cabecera {
    height: 200px;
    width: 100%;
    border-style: double;
    border-color: red;
}

#home {
    height: 50px;
    width: 50px;
    border-style: double;
    border-color: black;
}

#producto {
    color: black;
    text-align: center;
    height: 300px;
    width: 300px;
    margin: auto;
    padding-left: 200px;
    padding-top: 100px;
}

#clickProducto {
    height: 400px;
    width: 400px;
    float: left;
    padding-left: 100px;
    padding-top: 100px;
}