h1 {
    width: 93%;
    padding: 20px;
    background-color: lightgreen;
    border-radius: 10px;
    text-align: center;
    border-style: solid;
  }

.blue {
    color: blue;
}

.red {
    color: red;
}

#display {
    border: 2px solid lightblue;
    padding: 10px;
}

#info_css {
    float: left;
    background-color: lightblue;
    border-radius: 10px;
    border-style: solid;
    width: 300px;
    height: 400px;
}

#msgs_css {
    float: right;
    background-color: white;
    border-radius: 10px;
    border-style: solid;
    width: 300px;
    height: 400px;
}